<ion-view title="Device details" id="page5" class=" " ng-controller="deviceDetailsCtrl">
    <ion-content padding="true" class="has-header">
        <h3 id="deviceDetails-heading1" style="color:#000000;" class=" ">{{device.name}}</h3>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list id="deviceDetails-list4" class=" ">
            <ion-item class="item-icon-left  " id="deviceDetails-list-item9">
                <i class="icon ion-android-open"></i>Go to configuration page</ion-item>
        </ion-list>
        <!--<form id="deviceDetails-form2" class="list ">-->
            <label class="item item-input " id="deviceDetails-input2" name="device-ip">
                <span class="input-label">Input</span>
                <input type="text" ng-model="device.configURL">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="deviceDetails-toggle3" name="switcher" class=" " ng-model="bulbState" ng-change="switch()">Switch On/Off</ion-toggle>
            <ion-item class="range range-positive " id="deviceDetails-range1">Dimmer
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        <!--</form>-->
    </ion-content>
</ion-view>
