<ion-view title="Devices" id="page2" class=" " ng-controller="devicesCtrl">
    <ion-content padding="true" class="has-header">
        <ion-list id="devices-list2" class=" "> 
            <ion-item class="item-thumbnail-left" ng-repeat="device in devices" id="devices-list-item6" href="#/app/device-details/{{$index}}">
               	<img ng-src="images/{{device.type}}.jpg">
								<h2>{{device.name}}</h2>
								<p>type: {{device.type}}</p>
            </ion-item>
        </ion-list>
        <button class="button icon-left ion-plus button-positive button-block">Add Device</button>
    </ion-content>
</ion-view>
