<ion-view title="Scan" id="page3" class=" ">
    <ion-content padding="true" class="has-header">

        <label class="item item-input" id="scan-inputWifiPassword" name="wifiPassword">
          <span class="input-label">Password</span>
          <input type="text" ng-model="data.password">
        </label> 

        <button id="scan-button1" class=" button button-positive  button-block " ng-click="search()">
          {{scanLabel}}
        </button>

        <div class="card">
        	<div class="item item-text-wrap">
        		Progress = {{progress}}%
        	</div>
        </div>

        <div class="list" >
          	<div class="item item-divider" >
             	Founded devices
          	</div>
          	<div ng-repeat="d in foundDevices" class="item item-button-right">
              	<h2>{{d.id}}</h2>
              	<p>{{d.ip}}</p>
                <button class="button button-positive" ng-hide="alreadySaved(d)" ng-click="add(d)">
                ADD
                </button>
          	</div>
        </div>

    </ion-content>
</ion-view>
