<ion-view title="Settings" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
  			<button class="button button-primary button-block " ng-click="checkForUpdates()">
  				Check for updates
				</button>

				<button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
					Download update
				</button>
	
				<form id="settings-form1" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle1" class=" ">Toggle</ion-toggle>
            <label class="item item-input " id="settings-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
				<small>App v<span app-version></span></small>
    </ion-content>
</ion-view>
