<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Devices" icon="ion-lightbulb" href="#/app/device-list" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Scan" icon="ion-android-wifi" href="#/app/scan" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-android-settings" href="#/app/settings" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
